$color-primary: #123456;
$color-secondary: #FFF;
$azul-royal: #144480;
$fundo-card-timer: rgba(20, 68, 128, 0.30);
$lils: #B872FF;
$linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);


$gradient-foco: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
$gradient-descanso-curto: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
$gradient-descanso-longo: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);